:root {    
    --accent-color: #2196F3;
    --main-text-color: #757575;
    --head-text-color: #212121;
}

body {    
    color: var(--main-text-color);

    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;    

}

.list {
    list-style: none;
}

/* Header */

    /* Logo */

.logo,
.logo-firstpart {
    color: #000000;

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo-firstpart {
    color: var(--accent-color);
}

    /* Navigation + Contacts */

.header .nav-link, 
.header .contacts-link {
    color: var(--head-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.header .nav-link:hover, 
.header .nav-link:focus, 
.header .contacts-link:hover, 
.header .contacts-link:focus {
    color: var(--accent-color);
}

.header .contacts-link {
    color: inherit;    
}

/* Hero */

.hero {
    background-color: #2F303A;
}

.hero-title {    
    color: #ffffff;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-button {
    background-color: var(--accent-color);
    color: #ffffff;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;    
    letter-spacing: 0.06em;

    cursor: pointer;
}

.hero-button:hover, 
.hero-button:focus {
    background-color: #188CE8;
}

/* Why you have to choose us -- about */

.about .list-title {
    color: var(--head-text-color);
    
    font-size: 14px;
    line-height: 1.14;    
    text-transform: uppercase;       
}

.about .list-item {    
    font-size: 14px;
    line-height: 1.71;   
}

/* What we are doing -- direction */

.direction-title, 
.team-title {
    color: var(--head-text-color);
    
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* < Our team -- team */

/* .team-title - added to direction-title */

.team .list-title {
    color: var(--head-text-color);

    font-weight: 500;    
}

.team .list-title, 
.team .list-item {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

/* Footer */

.footer {
    background-color: #2F303A;
}

.logo-secondpart{
    color: #ffffff;
}

.footer .address-item {    
    color: rgba(255, 255, 255, 0.6);    

    font-size: 14px;
    font-style: normal;
    line-height: 1.71;
    text-decoration: none;    
}

.address-item.location {
    color: #ffffff;
}

/* .footer .address-item:hover,
.footer .address-item:focus {    
    color: #ffffff;
} */

/* Portfolio */

.portfolio .list-button {
    background-color: #F5F4FA;
    color: var(--head-text-color);

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;

    cursor: pointer;
}

.portfolio .list-button:hover,
.portfolio .list-button:focus {
    background-color: var(--accent-color);
    color: #ffffff;
}

.portfolio .list-title{
    color: var(--head-text-color);

    font-size: 18px;
    line-height: 2;   
    letter-spacing: 0.06em;
}

.portfolio .list-item {
    font-size: 16px;
    line-height: 1.88;
}